.elementlist {
	padding-top: 5px;
}

.elementlist ul {
	list-style: none;
	padding: 0px;
}

.elementlist li {
	border: 1px solid grey;
	margin: 4px;
	padding: 5px;
	position: relative;
	background-color: white;
}

.elementlist li a {
	opacity: 1.0;
}

span[lang]::before {
	content: "";
}

.elementlist li .arrows {
	visibility: hidden;
}

.elementlist li:hover .arrows {
	visibility: visible;
}

div.add-element {
	margin: 4px;
	cursor: pointer;
}

div.add-element + .editable-inline {
	margin: 5px;
}

/** Show numbers for components */

.components ul {
	counter-reset: item;
}

.components li:not(.skip) {
	counter-increment: item;
}

.components li:not(.skip ) > a:before {
	content: counter(item) ".";
}

.image {
	position: relative;
	display: flex;
	align-items: center;
	flex-direction: column;
	padding-top: 5px;
	background-color: #F3B562;
}

.image img {
	max-width: 95%;
	max-height: 480px;
}

.instructions {
	background-color: #8CBEB2;
}

.property {
	font-weight: bold;
}

.property::after {
	content: ":";
}

.vui-highlighted {
	font-weight: bold;
	text-shadow: 2px 2px 5px red;
}